.navbar-nav li{
    padding-right: 35px;
}
.navbar-brand{
    color: #e3e812e0;
    font-size: 30px;
    margin-right: 100px;
}
.login_div{
    position: absolute;
    right: 0;
}
.carousel{
    margin-top: 20px;
}
.header_component{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2222;
    background: #fff;
}