.navbar-nav li{
    padding-right: 35px;
}
.navbar-brand{
    color: skyblue;
    font-size: 30px;
    font-family: cursive;
    margin-right: 100px;
}
.login_div{
    margin-left: 50px;
}
.carousel{
    margin-top: 20px;
}