<div class="container  ">
      <footer class="footer ">
         
            <div class=" ">
              <div class="col-sm-12 text-center footer-content">
                <h5>Welcome To Praveen Reddy"s World</h5>
                <p>Give your feedback here!!</p>
                <input type="text"><input class="submit" type="button" (click)="submit()" value="submit">
              
                <p class="social-icons-header">
                       <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook "></i></a>
                       <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                       <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                       <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>	
                   </p>
              </div>
              </div>
        </footer>
      </div>