.side-contant{
    background: #77ceeb;
    height: auto;
}
.welcomeimg img{
  width: 50%;
}
.welcomeimg ,h1{
  text-align: center;
}
.butn{
  text-align: center;
}
.butn button{
  border-radius: 5px;
  padding: 10px 20px;
  background-image: linear-gradient(to right, #30c0a5 , #7cadd0);
  cursor: pointer;
}
.cards_list{
  margin-top: 20px;
  height: 400px;
  overflow: auto;
}