.side-contant{
    background: #77ceeb;
    height: 500px;
}
.welcomeimg img{
  width: 50%;
}
.welcomeimg ,h1{
  text-align: center;
}
.butn{
  text-align: center;
}
.butn button{
  border-radius: 5px;
  padding: 10px 20px;
  background-image: linear-gradient(to right, #30c0a5 , #7cadd0);
  cursor: pointer;
}
.cards_list{
  margin-top: 20px;
  height: auto;
  overflow: auto;
}
.main_container{
  margin: 0;
}
.project_container{
  margin-top: 15%;
}
.mainHeading{
  color:rgb(126, 146, 33);
}
.mdb-select{
  padding: 6px;
  border-color: #4285f4;
  color: #ffc107;
}
.select{
  text-align: right;
}