
  <div class="container login-container">
      <div class="row">
         <div class="col-sm-4 form-container">
            <div class="login-box">
               <h2 class="font-weight-bold text-center my-5 login-text">LOGIN</h2>
               <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
                  <div class="form-group">
                     <label class="">User Name</label><span>*</span>
                     <input class="form-control" type="text" placeholder="Name" required name="Username" formControlName="uname">
                  </div>
                  <div class="form-group">
                     <label class="">Password</label><span>*</span>
                     <input class="form-control" type="password" placeholder="Password"  name="Password" formControlName="passwd">
                  </div>
                  <div id="error"></div>
                  <div class="form-group  ">
                    <label class=" ">
                      <p  (click)="login()" ><i class="fa fa-heart" aria-hidden="true"></i>
                        New User</p>
                    </label>
                  </div>
                  <div class="buttons col-sm-12">
                     <div class="form-group button col-sm-4">
                        <input [disabled]="!formdata.valid"  value="Submit" class="btn btn-primary form-control login-btn" type="submit" name="Submit">
                     </div>
                   </div>
               </form>
            </div>
         </div>
      </div>
   </div>
  