<div class="container-fluid">
<!-- <video autoplay muted loop id="myVideo">
    <source src="../../assets/imgs/Gallery/video.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video> -->

<div class="container home">
 <!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
          <div class="view">
              <img class="d-block w-100" src="../../assets/imgs/second.jpg" alt="First slide">
              <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
              <h3 class="h3-responsive">This is the first title</h3>
              <p>First text</p>
          </div>
      </div>
      <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
              <img class="d-block w-100" src="../../assets/imgs/first.jpg " alt="Second slide">
              <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
              <h3 class="h3-responsive">Thir is the second title</h3>
              <p>Secondary text</p>
          </div>
      </div>
      <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
              <img class="d-block w-100" src="../../assets/imgs/third.jpg" alt="Third slide">
              <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
              <h3 class="h3-responsive">This is the third title</h3>
              <p>Third text</p>
          </div>
      </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
<div class="col-sm-12 home_contant">
  <h1 class="col-sm-12 mainHeading">How its Works</h1>
  <div class="col-sm-12 firstHomeContant">
    <div class="col-sm-6 img">
      <img src="../../assets/imgs/home1.jpg">
    </div>
    <div class="col-sm-6 ">
      <p>The silkworm (Bombyx mori) is the larva or caterpillar of the Bombyx mori moth. Silde for at least 5000 years in China. 
        The moth is important because it makes the silk, and no longer lives in the wild. It is entirely dependent on humans. 
        Silkworms eat mulberry leaves, and were native to northern China.</p>
    </div>

  </div>
  <div class="col-sm-12 firstHomeContant">
      <div class="col-sm-6 ">
        <p>The silkworm (Bombyx mori) is the larva or caterpillar of the Bombyx mori moth. Silde for at least 5000 years in China. 
          The moth is important because it makes the silk, and no longer lives in the wild. It is entirely dependent on humans. 
          Silkworms eat mulberry leaves, and were native to northern China.</p>
      </div>
      <div class="col-sm-6 img">
          <img src="../../assets/imgs/home1.jpg">
        </div>
  
    </div>
    <div class="col-sm-12 firstHomeContant">
        <div class="col-sm-6 img">
          <img src="../../assets/imgs/home1.jpg">
        </div>
        <div class="col-sm-6 ">
          <p>The silkworm (Bombyx mori) is the larva or caterpillar of the Bombyx mori moth. Silde for at least 5000 years in China. 
            The moth is important because it makes the silk, and no longer lives in the wild. It is entirely dependent on humans. 
            Silkworms eat mulberry leaves, and were native to northern China.</p>
        </div>
    
      </div>
    </div>
</div>
</div>