.gallery_container{
    margin-top: 15%;
}
.imgsrow{
    margin-bottom: 30px;
    display:flex;
}
.mainHeading{
    padding: 0;
    color: rgb(0, 153, 255);
    margin-bottom: 20px;
}
ngx-gallery{
    margin-right: 50px;
}
@media (max-width: 575px) {
    .gallery_container{
        margin-top: 240px;
    }
    ngx-gallery{
        margin-right: 0px;
        width: 100% !important;
    }
    .galleryDiv{
        margin-top: 20px;
        height: auto;
        overflow: auto;
    
    }

  }