.Services_container{
    margin-top: 15%;
}
.servicesimg{
    text-align: center;
}
.servicesimg img{
    cursor: pointer;
}
.mainheading{
    color: rgb(0, 153, 255);
    margin-bottom: 20px;
 /* text-align: center; */
}
h6{
    color: cadetblue;
}
span{
    color: chocolate;  
    padding-left: 10px;
}
.store_container{
    margin-bottom: 20px;
}
.box_shadow{
    box-shadow: 0px 16px 12px -18px #c3bcbc;
    margin: 0 ;   
}
.Search_container{
    padding: 0;
    margin-top: 35px;
}
.modal {
    z-index: 5555;
}