<div class=" Services_container">
  <div class="col-sm-12 row box_shadow">
    <div class="col-sm-6">
      <h2 class="mainheading">Our Services</h2>
      <h6>Toady Date :<span>{{todaydate}}</span></h6>
    </div>
    <div class="col-sm-6">
      <p class="note note-info"><strong>Note info:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Cum doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus delectus placeat illo
        rem id nisi consequatur esse, sint perspiciatis soluta porro?</p>
    </div>
  </div>

  <!-- <div class="row services" >
        <div class="col-sm-4 servicesimg"> <img src="../../assets/imgs/Services1.jpg"/></div>
        <div class="col-sm-4 servicesimg"><img src="../../assets/imgs/Services2.png"/></div>
        <div class="col-sm-4 servicesimg"><img src="../../assets/imgs/Services1.jpg"/></div>

    </div>
   <div class="butn"><button (click)="click()">SHOW OUR SERVICES</button> </div>
   <app-apidata *ngIf="showdiv"></app-apidata> -->
  <div class="container">
    <div class="col-sm-12">
      <div class="col-sm-5 Search_container">
        <form class="form-inline md-form form-sm active-purple active-purple-2 mt-2">
          <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search your Product....."
            aria-label="Search">
        </form>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row store_container">
        <div class="col-sm-4">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">Bivoltine Breed </h4>
              <!-- Text -->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <!-- Button -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fullHeightModalRight">
                  Order Now
                </button>
            </div>
          </div>
          <!-- Card -->
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">Lr Breed</h4>
              <!-- Text -->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <!-- Button -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fullHeightModalRight">
                  Order Now
                </button>
            </div>
          </div>
          <!-- Card -->
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">CSR Breed</h4>
              <!-- Text -->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <!-- Button -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fullHeightModalRight">
                  Order Now
                </button>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
      <div class="row store_container">
        <div class="col-sm-4">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">CB Breed</h4>
              <!-- Text -->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <!-- Button -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fullHeightModalRight">
                  Order Now
                </button>
            </div>
          </div>
          <!-- Card -->
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">CSR1 Breed</h4>
              <!-- Text -->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <!-- Button -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fullHeightModalRight">
                  Order Now
                </button>
            </div>
          </div>
          <!-- Card -->
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">CBA Breed</h4>
              <!-- Text -->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <!-- Button -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fullHeightModalRight">
                  Order Now
                </button>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
    </div>
  </div>
  <!-- Full Height Modal Right -->
<div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">

<!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
<div class="modal-dialog modal-full-height modal-right" role="document">


  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer justify-content-center">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary">Book Now</button>
    </div>
  </div>
</div>
</div>
<!-- Full Height Modal Right -->
</div>