<div class=" home">
  <!--Carousel Wrapper-->
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="d-block w-100"
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg"
          alt="First slide"
        />
      </div>
      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(16).jpg"
          alt="Second slide"
        />
      </div>
      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(17).jpg"
          alt="Third slide"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleFade"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleFade"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!--/.Carousel Wrapper-->
  <div class=" home_contant container">
    <!-- Section: Blog v.1 -->
    <section class="my-5">
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center my-5 heading">Silkworm</h2>
      <!-- Section description -->

      <blockquote class="blockquote">
        <p class=" mb-0 blue-grey-text">
          Agriculture is the great art of directing and aiding nature in the
          performance of those functions which were designed by Providence for the
          comfort and subsistence of man.
        </p>
        <footer class="blockquote-footer mb-3"> <cite title="Source Title">Lewis Cass</cite></footer>
      </blockquote>
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-5">
          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
            <img
              class="img-fluid"
              src="../../assets/imgs/banners/silk1.jpg"
              alt="Sample image"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">
          <!-- Category -->
          <a href="#!" class="green-text">
            <h6 class="font-weight-bold mb-3">
              <i class="fa fa-pagelines pr-2"></i>Sericulture
            </h6>
          </a>
          <!-- Post title -->
          <h3 class="font-weight-bold mb-3">
            <strong>About Silkworm</strong>
          </h3>
          <!-- Excerpt -->
          <p>
            The silkworm is actually the larvae, or caterpillar stage, in the
            life cycle of the silkworm moth. If allowed to develop from pupa,
            and not destroyed at this stage in the cycle so that silk can be
            created, the caterpillar will develop into a creamy white moth
            patterned in brown---scientifically named Bombyx mori. The domestic
            silkworm can no longer be found in the wild, but the wild silkworm
            and other silk-spinning relatives remain untamed. As a domesticated
            insect, the adult moth has lost many of the abilities it once had,
            including the ability to find food and defend itself against
            predators. In addition, the silkworm moth can barely fly
          </p>
          <!-- Post data -->
          <!-- Read more button -->
          <a class="btn btn-success btn-md">Read more</a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

      <hr class="my-5" />

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-7">
          <!-- Category -->
          <a href="#!" class="pink-text">
            <h6 class="font-weight-bold mb-3">
              <i class="fa fa-heart-o pr-2"></i>Lifestyle
            </h6>
          </a>
          <!-- Post title -->
          <h3 class="font-weight-bold mb-3">
            <strong>Mulberry Lifestyle</strong>
          </h3>
          <!-- Excerpt -->
          <p>
            The Silkworm, Bombyx mori produces the silk of commercial
            importance. It is the caterpillar of a moth whose cocoon is used to
            make silk. This insect is also called the silkworm-moth and the
            mulberry silkworm (fig. 8.12). Male and female moths are flightless
            and lack functional mouth parts. The moths differ in morphological
            features. The female has a larger abdomen whereas the male has a
            much larger pair of antennae.The life cycle of Bombyx mori
            demonstrates the most advanced form of metamorphosis. The serial
            progressions of four distinct stages of development complete one
            generation of the species; egg (ova), larvae, pupa and imago.
          </p>
          <!-- Post data -->
          <!-- Read more button -->
          <a class="btn btn-pink btn-md mb-lg-0 mb-4">Read more</a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-5">
          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2">
            <img
              class="img-fluid"
              src="../../assets/imgs/banners/silk2.jpg"
              alt="Sample image"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

      <hr class="my-5" />

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-5">
          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
            <img
              class="img-fluid"
              src="../../assets/imgs/banners/silk3.jpg"
              alt="Sample image"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">
          <!-- Category -->
          <a href="#!" class="indigo-text">
            <h6 class="font-weight-bold mb-3">
              <i class="fa fa-hand-o-right pr-2"></i>About Mulberry
            </h6>
          </a>
          <!-- Post title -->
          <h3 class="font-weight-bold mb-3">
            <strong>Mulberry Leaves</strong>
          </h3>
          <!-- Excerpt -->
          <p>
            Mulberry leaves, particularly those of the white mulberry, are
            ecologically important as the sole food source of the silkworm
            (Bombyx mori, named after the mulberry genus Morus), the cocoon of
            which is used to make silk.Mulberry foliage is the only food for the
            silkworm (Bombyx mori) and is grown under varied climatic conditions
            ranging from temperate to tropical. Mulberry leaf is a major
            economic component in sericulture since the quality and quantity of
            leaf produced per unit area have a direct bearing on cocoon harvest.
          </p>
          <!-- Read more button -->
          <a class="btn btn-indigo btn-md">Read more</a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </section>
    <!-- Section: Blog v.1 -->
  </div>
</div>
