
  <div class="container login-container">
      <div class="row">
         <div class="col-sm-4 form-container">
            <div class="login-box">
               <h2 class="font-weight-bold text-center my-5 login-text">REGISTER</h2>
               <form [formGroup]="angForm" (ngSubmit) = "onClickSubmit1(angForm.value)" >
                  <div class="form-group">
                     <label class="">First Name</label><span>*</span>
                     <input class="form-control" type="text" placeholder="First Name" required name="Username" formControlName="Fname" >
                  </div>
                     <div *ngIf="angForm.controls['Fname'].invalid && (angForm.controls['Fname'].dirty || angForm.controls['Fname'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['Fname'].errors.required">
                         First Name is required.
                        </div>
                     </div>
                  <div class="form-group">
                      <label class="">Last Name</label><span>*</span>
                      <input class="form-control" type="text" placeholder="Last Name" required name="Username" formControlName="Lname">
                   </div>
                   <div *ngIf="angForm.controls['Lname'].invalid && (angForm.controls['Lname'].dirty || angForm.controls['Lname'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['Lname'].errors.required">
                       Last Name is required.
                        </div>
                     </div>
                   <div class="form-group">
                      <label class="">Email</label><span>*</span>
                      <input class="form-control" type="email" placeholder="Email" required name="Username" formControlName="email">
                   </div> 
                   <!-- <div class="alert alert-danger"
                     *ngIf="angForm.controls.email.errors?.MatchPassword">please fill the valid email address</div> -->
                    <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['email'].errors.pattern">
                     Please fill the valid email address
                        </div>
                     </div> 

                   <div class="form-group">
                      <label class="">Phone</label><span>*</span>
                      <input class="form-control" type="text" placeholder="Phone" required name="Username" formControlName="phone">
                   </div>
                   <div *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['phone'].errors.required">
                     Phone number is required.
                        </div>
                     </div>
                  <div class="form-group">
                     <label class="">Password</label><span>*</span>
                     <input class="form-control" type="password" placeholder="Password"  name="Password" formControlName="pass">
                  </div>
                  <div class="form-group">
                      <label class=""> Confirm Password</label><span>*</span>
                      <input class="form-control" type="password" placeholder="Confirm Password"  name="conf-password"  formControlName="conpass">
                   </div>
                   <div class="alert alert-danger"
                     *ngIf="angForm.controls.conpass.errors?.MatchPassword">Password not match</div>
                  <div class="form-group  ">
                      <label class=" ">
                        <p (click)="login()" ><i class="fa fa-heart" aria-hidden="true"></i>
                          Already Member</p>
                      </label>
                    </div>
                    <div class="buttons col-sm-12">
                  <div class="form-group button  col-sm-4">
                      <input   [disabled]="!angForm.valid" value="Submit" class="btn btn-primary form-control login-btn" type="submit" name="Submit">
                  </div>
                </div>
               </form>
            </div>
         </div>
        </div>
   </div> 

