.mainHeading{
    color:rgb(0, 153, 255);
    padding: 20px;
}
.text_aline{
    text-align: right;
}
.commentsBtn{
    margin-top: 20px;
}
.project_container{
    margin-top: 15%;
}
.mainImg{
    text-align: center;
}
.view img  {
    width: 50%!important;
    margin: 0 auto;
    height: 400px;
}
.banking{
    width: 60%!important;
}
.carousel-caption{
     right: 10px; 
     left: 0; 
    color: #ec3910;
    text-align: right;
    bottom: -22px;
}
.serviceHeading{
    text-align: center;
    margin: 50px 0px;
    color: #7cadd0
}
.services .col-sm-3 img{
    margin-top: 30px;
    width: 120px;
    height: 120px;
}
.services h4{
    margin-top: 20px;
}
.services p{
    color:#afabab;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.projects{
    padding: 10px 20px;
    top:50px;
}
.projects li{
    padding: 5px 0;
}
@media (max-width: 575px) {
    .text_aline{
      text-align: center !important;
      margin-bottom: 25px;
    }
    .project_container{
        margin-top: 225px;
    }
    .mainHeading{
      margin-top: 22px;
      font-size: 25px;
      text-align: center;
      color: rgb(125, 132, 38);
      padding: 5px;
    }
    .view img {
        width: 100%!important;
        margin: 0 auto;
        height: 250px;
    }
    .carousel-caption{
        right: 10px; 
        left: 0; 
       color: #ec3910;
       text-align: right;
       bottom: -22px;
   }
   .dropdown-menu.show {
    display: block;
    z-index: 5555;
    height: 300px;
    margin-top: 200px;
    overflow: auto;
}
  }